<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="/static/fonts/fontello/css/fontello.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/bootstrap-offset-right.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <script>
        function checkregister() {
            var pwd = document.getElementById("SetPassword").value;
            var pwd_cfm = document.getElementById("pwd_cfm").value;
            var reg_name = document.getElementById("registername").value;
            var reg_email = document.getElementById("emailAd").value;
            var reg_cellphone = document.getElementById("mobileNumber").value;

            var regx_email = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
            var regx_cellphone = new RegExp("^1[345789]\\d{9}$");
            var regx_pwd = new RegExp("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$");
            var cnt=0;
            if (reg_name.trim().length < 1) {
                var inf1 = document.getElementById("userspan");
                inf1.style.visibility = "visible";

            }else {
                var inf1 = document.getElementById("userspan");
                inf1.style.visibility = "hidden";
                cnt=cnt+1;
            }

            if (!regx_email.test(reg_email.trim())) {
                var inf2 = document.getElementById("emailspan");
                inf2.style.visibility = "visible";

            }else {
                var inf2 = document.getElementById("emailspan");
                inf2.style.visibility = "hidden";
                cnt=cnt+1;
            }
            if (!regx_cellphone.test(reg_cellphone)) {
                var inf3 = document.getElementById("cellphonespan");
                inf3.style.visibility = "visible";
            }else{
                var inf3 = document.getElementById("cellphonespan");
                inf3.style.visibility = "hidden";
                cnt=cnt+1;
            }
            if (!regx_pwd.test(pwd)) {
                var inf4 = document.getElementById("pwdspan");
                inf4.style.visibility = "visible";
            }else{
                var inf4 = document.getElementById("pwdspan");
                inf4.style.visibility = "hidden";
                cnt=cnt+1;
            }
            if (pwd_cfm.trim() != pwd.trim()) {
                var inf5 = document.getElementById("cfmspan");
                inf5.style.visibility = "visible";
            }else{
                var inf5 = document.getElementById("cfmspan");
                inf5.style.visibility = "hidden";
                cnt=cnt+1;
            }
            if(cnt==5)
                return true;
            else return false;
        }
    </script>
    <title>arty</title>
</head>
<body>
<div class="container">
    <div class="center-block">
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-xs-12 no-padding" style="z-index:1">
            <!-- Slider -->
            <div class="mlt-carousel">
                <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive center-block" src="/static/img/step1.png" alt="step1">
                            <div class="item-content">
                                <h3>一行没有意义的文字</h3>
                                <p>这一行任然没有意义</p>
                                <p>依然没有意义</p>
                                <p>好吧全部没有意义</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive center-block" src="/static/img/step2.png" alt="step2">
                            <div class="item-content">
                                <h3>武汉很热</h3>
                                <p>武汉很热+1</p>
                                <p>武汉很热+2</p>
                                <p>武汉很热+3</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive center-block" src="/static/img/step3.png" alt="step3">
                            <div class="item-content">
                                <h3> 项目没有搞完</h3>
                                <p>项目没有搞完+1</p>
                                <p>项目没有搞完+2</p>
                                <p>项目没有搞完+3</p>
                            </div>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
                <!--mlt-carousel-->
            </div>
            <!-- Slider -->
        </div>
        <!-- Login -->

        <div class="col-lg-6 col-lg-offset-right-1 col-md-6 col-md-offset-right-1 col-sm-12 col-xs-12 no-padding">
            <div class="mlt-content">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#register" data-toggle="tab">注册</a></li>
                    <li><a href="#login" data-toggle="tab">登录</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="register">
                        <!--register form-->

                        <form name="regform" th:action="@{/getRegister}" onsubmit="return checkregister()" method="post" th:object="${registerform}">
                            <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-group has-feedback">
                                    <input type="text" name="registername" id="registername" class="mdl-textfield__input" th:field="*{username}" />
                                    <label class="mdl-textfield__label " for="registername" >名字</label>
                                    <span id="userspan"  class="mdl-textfield__error ">用户名非法</span>

                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input " type="text" id="emailAd" name="emailAd" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" th:field="*{email}">
                                    <label class="mdl-textfield__label " for="emailAd">邮箱地址</label>
                                    <span id="emailspan" class="mdl-textfield__error ">邮箱不合法</span>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input " type="text" id="mobileNumber" pattern="[0-9]{11}" th:field="*{cellphone}">
                                    <label class="mdl-textfield__label " for="mobileNumber">手机号码</label>
                                    <span id="cellphonespan" class="mdl-textfield__error ">输入不是手机号</span>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input " type="text" id="SetPassword" name="SetPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" th:field="*{password}">
                                    <label class="mdl-textfield__label " for="SetPassword">密码</label>
                                    <span id="pwdspan" class="mdl-textfield__error ">至少一个大写字母一个小写字母且长度大于六</span>

                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input " type="password" id="pwd_cfm" name="pwd_cfm" th:field="*{pwd_cfm}">
                                    <label class="mdl-textfield__label " for="pwd_cfm">确认密码</label>
                                    <span id="cfmspan" class="mdl-textfield__error ">密码不匹配</span>
                                    <span id="cfmspan" class="mdl-textfield__error ">用户存在</span>
                                </div>

                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="termsFlag">
                                    <input type="checkbox" required="required" id="termsFlag" class="mdl-checkbox__input ">
                                    <span class="mdl-checkbox__label ">我同意<a href="# ">使用规则</a> 以及 <a href="# ">隐私协议</a></span>
                                </label>
                                <input class="btn lt-register-btn icon-right "  type="submit" value="提交注册">

                            </div>
                        </form>
                        <!--register form-->
                    </div>
                    <div class="tab-pane fade" id="login">
                        <!--login form-->
                        <form th:object="${userform}" th:method="POST" th:action="@{/getLogin}">

                            <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="login_name" th:field="*{username}">
                                    <label class="mdl-textfield__label" for="login_name">邮箱地址/用户名/手机号</label>
                                </div>
                            </div>

                            <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="password" id="password" th:field="*{password}">
                                    <label class="mdl-textfield__label" for="password">用户密码</label>
                                </div>
                            </div>

                            <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                <div class="row">
                                    <br>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="rememberPass">
                                            <input type="checkbox" id="rememberPass" class="mdl-switch__input">
                                            <span class="mdl-switch__label">记住我</span>
                                        </label>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" text-align:right;">
                                        <a href="#">忘记密码</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                <button class="btn lt-register-btn">登录<i class="icon-right " ></i></button>
                            </div>
                        </form>
                        <!--login form-->
                    </div>
                </div>
            </div>
            <!--Login-->
        </div>
        <!--center-block-->
    </div>
    <!--container-->
</div>
<script src="/static/node_modules/jquery/dist/jquery.min.js "></script>
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js "></script>
<script src="/static/libs/mdl/material.min.js"></script>
<script src="/static/js/my.js"></script>
</body>
</html>